* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  background: linear-gradient(225deg, #fc466b 0%, #3f5efb 100%);
  height: 100vh;
  position: relative;
}

.form-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 3px 3px 21px black;
  transition: 0.3s;
  display: flex; /* يفعّل flexbox */
  flex-direction: column; /* العناصر تبقى عمودية */
  /* justify-content: center; توسيط عمودي */
  align-items: center;
}
@media (max-width: 767px) {
  .form-container {
    width: 400px;
    height: 520px;
  }
}

.user-icon {
  background-color: #fc466ada;
  color: white;
  width: 170px;
  height: 170px;
  font-size: 90px;
  margin: 30px auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.form-container input {
  border: none;
  outline: none;
  padding: 15px;
  background: #cccccc;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
}

form .name-container,
form .password-container {
  position: relative;
  width: 250px;
  margin-left: 50px;
  /* caret-color: blue; */
  /* caret: 10px; */
}
form .name-container::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f007";
  background-color: #e6e6e6;
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
  left: -50px;
}

form .password-container::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f023";
  background-color: #e6e6e6;
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
  left: -50px;
}

.form-container input::placeholder {
  color: #777676;
}

.btn {
  width: calc(100% + 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #919191;
  margin-top: 30px;
  margin-left: -15px;
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #545454;
}
#error {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #020250;
  background-color: #ffd2d2;
  border: 1px solid #d8000c;
  padding: 10px 15px;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  /* margin: 50px auto; */
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  top: 50px;
}
